.toggle-mnu {
  display: block;
  float: right;
  right: 0;
  top: 0;
  text-align: center;
  line-height: 48px;
  color: #fff; }

.toggle-mnu {
  display: block;
  width: 28px;
  height: 28px;
  margin: 22px 15px; }
  .toggle-mnu:focus {
    outline: none; }

.toggle-mnu span:after,
.toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px; }

.toggle-mnu span:after {
  top: 9px; }

.toggle-mnu span {
  position: relative;
  display: block; }

.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-border-radius: 2px;
          border-radius: 2px; }

.toggle-mnu.on span {
  background-color: transparent; }

.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
      -ms-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px); }

.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
      -ms-transform: rotate(-45deg) translate(7px, -8px);
          transform: rotate(-45deg) translate(7px, -8px); }

.toggle-mnu.on + #menu {
  opacity: 1;
  visibility: visible; }

/*input[type=submit]*/
.top {
  height: 31px; }

.top, .logo-contacts-cart {
  overflow: hidden;
  width: 100%; }

.hidden-lg {
  display: none; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1280px) {
  .jbzoo-item-product.jbzoo-item-teaser .item-image img, .element-relateditems .item .item-image img {
    width: 100% !important; }
  .jbzoo .jbcompare-table, .jbzoo .jbbasket-table {
    font-size: 14px; }
    .jbzoo .jbcompare-table a, .jbzoo .jbbasket-table a {
      font-size: 14px; }
    .jbzoo .jbcompare-table td, .jbzoo .jbbasket-table td {
      padding: 5px; }
  .jbimage-link img {
    max-width: none !important; }
  .item-body .tooltip {
    width: 300px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .item-body .tooltip-3 {
    left: -179px; }
  .item-body .tooltip-2 {
    left: -100px; }
  .item-body .tooltip-4 {
    left: -228px; }
  .jbzoo-item #links_divs .button {
    width: 24%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .jbzoo-item #links_divs .button span {
      font-size: 12px; }
  .jbzoo-item .item-collection-short {
    height: 123px; }
  .jbzoo-item .related-short-item {
    margin-bottom: 12px;
    margin-right: 10px; }
  .jbzoo-item .jbprice-count {
    margin-top: 22px !important; }
  .jbzoo-item .item-body .jbprice-price {
    width: 105px;
    margin-top: 11px !important; }
  .jbzoo-item a.jsAddToCart.jsAddToCartItem {
    width: 110px;
    font-size: 15px !important;
    height: 45px;
    margin-right: 10px; }
  .jbzoo-item .left-full-product {
    width: 37%;
    margin-right: 3%;
    overflow: hidden; }
    .jbzoo-item .left-full-product img {
      width: 100%;
      height: auto; }
  .item-image.align-left {
    margin: 0 !important;
    font-size: 0 !important; }
  .jbimage-link.jbimage-gallery {
    font-size: 0 !important; }
  .right-item-body {
    width: 60% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .jbzoo .item-body .jbprice-advance .sale-icon-empty, .jbzoo .item-body .jbprice-advance .hit-icon-simple {
    left: 20px; }
  .jbzoo .item-body .left-full-product .item-image {
    width: 100%;
    height: auto; }
  #breadcrumbs {
    width: 100%; }
  #yoo-zoo .column.rborder.width25 {
    height: 407px !important; }
  .scrollTop {
    text-decoration: none;
    display: block;
    text-align: center;
    bottom: 55px;
    right: 5px;
    font-size: 0;
    line-height: 2;
    font-family: ProximaNova;
    color: #FFF;
    background: url("/plugins/system/smoothtop/images/xup-arrow.gif.pagespeed.ic.EnO4IP_KW2.png") no-repeat center top;
    height: 45px !important;
    width: 45px !important;
    opacity: 0.5; }
  #smoothtop {
    display: none !important; }
  .tel .black {
    color: #000 !important; }
  #page {
    width: 993px;
    overflow: hidden; }
  #top-menu {
    width: 600px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 0;
    float: left;
    position: static; }
  #search {
    width: 393px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 0;
    float: left;
    position: static;
    margin-left: 0; }
    #search form {
      width: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 372px;
      position: relative; }
      #search form input[type=text] {
        width: 138px; }
      #search form input[type=submit] {
        position: absolute;
        right: 0; }
  .top {
    background-color: #19889a;
    padding-top: 5px; }
  .logo-contacts-cart {
    padding-top: 10px;
    padding-bottom: 10px; }
  #header {
    margin-top: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  #contacts {
    padding: 0;
    margin-top: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 417px; }
  #bukkit {
    margin-top: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  #menu {
    width: 100%; }
    #menu > ul {
      display: block;
      text-align: center; }
  ul.menu_up > li {
    display: inline-block;
    float: none; }
  ul.menu_up li a {
    font-size: 12px;
    padding-top: 15px;
    height: 19px; }
  .main-content-wr {
    width: 703px; }
  #slider {
    height: 237px;
    margin-bottom: 0;
    width: 100%; }
  .nivoSlider > img {
    max-width: 100%; }
  .price-table td {
    display: block;
    width: 100%;
    text-align: center; }
    .price-table td > div {
      width: 100%;
      text-align: center; }
  .jbprice-price {
    width: 100%;
    text-align: center; }
    .jbprice-price table {
      width: 100%; }
  .jsTotal.total {
    width: 100%;
    text-align: center; }
  .jbzoo-item .jbprice-buttons {
    text-align: center;
    margin-top: 0; }
  .moduletablebrands-mod .jbzoo-category-module {
    width: 100%; }
    .moduletablebrands-mod .jbzoo-category-module img {
      max-width: 100%; }
  #footer {
    width: 100%;
    position: relative; }
  #fr4 {
    position: absolute;
    left: 25px;
    bottom: 0px;
    padding-right: 0; }
  #homepage > iframe {
    display: none; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .main-mnu {
    display: none;
    float: right;
    min-width: 250px;
    text-align: right;
    background-color: #1C242C;
    width: 250px;
    position: absolute;
    top: 44px;
    right: 0;
    height: auto;
    z-index: 10;
    margin-top: 0; }
    .main-mnu > ul {
      display: inline; }
    .main-mnu > li {
      display: block;
      float: none;
      margin: 0; }
    .main-mnu > a {
      display: block;
      color: #FFF;
      -webkit-border-radius: 0;
              border-radius: 0;
      border: none;
      padding: 10px;
      text-align: right; }
      .main-mnu > a:hover {
        text-decoration: underline; }
    .main-mnu a:hover, .main-mnu li.active a {
      border: none; }
  #page {
    width: 769px; }
  #search, #top-menu {
    width: 50%; }
  #header {
    width: 200px;
    padding-right: 0;
    margin-top: 25px; }
    #header img {
      max-width: 100%; }
  #contacts {
    width: 347px; }
  .hidden-lg {
    display: block; }
  #menu {
    position: relative; }
  ul.menu_up li {
    display: inline;
    height: auto;
    overflow: hidden; }
  ul.menu_up {
    z-index: 100;
    position: static; }
  .menu_up li.parent ul {
    float: none; }
  .menu_up li.parent ul li {
    width: 100%;
    float: none; }
  .menu_up li.parent > ul {
    width: 100%;
    display: block;
    overflow: hidden; }
  .menu_up li.parent:hover ul, .menu_up li.parent:hover ul li {
    width: 100%; }
  li.item-275.deeper.parent {
    width: 100%; }
  .menu_up li.deeper.parent > a {
    display: none; }
  .main-content-wr {
    width: 100%; }
  #left-menu {
    display: none; }
  #fr1 {
    width: 100%;
    text-align: center; }
  #fr2 {
    width: 66%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 0;
    padding-left: 25px; }
  #fr3 {
    width: 33%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 0; }
  .moduletable_catalogFr1 > div {
    display: none; }
  #fr4 {
    display: none; }
  #bukkit {
    margin-right: 0;
    padding-left: 77px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .jsTotalCount {
    display: none; }
  .jbzoo .jbbasket-submission .form-field-row .field-label, .jbzoo .jbbasket-submission .form-field-row .field-input {
    width: 100%;
    float: none; }
    .jbzoo .jbbasket-submission .form-field-row .field-label label[for], .jbzoo .jbbasket-submission .form-field-row .field-input label[for] {
      width: 100%; }
  .jbzootabs-accordion .jbzootabs-accordion-content {
    padding-right: 10px;
    padding-left: 10px; }
  .jbbasket-submission label {
    font-size: 15px; }
  .jbzoo textarea {
    max-width: 100% !important;
    width: 250px; }
  .jbbutton.jsDeleteAll {
    display: none; }
  .jbbutton.jsDelete {
    display: none; }
  .jbzoo .jbbasket-table thead {
    display: none; }
  .jbzoo .jbbasket-table tr td:nth-child(2) {
    display: none; }
  .jbzoo .jbbasket-table tr td:nth-child(3) {
    display: none; }
  .jbzoo-item .left-full-product {
    width: 100%  !important;
    margin-bottom: 10px; }
  .jbzoo-item .right-item-body {
    width: 100%  !important; }
  #breadcrumbs .breadcrumb {
    width: -webkit-calc(100% - 20px) !important;
    width: calc(100% - 20px) !important;
    overflow: hidden; }
  #vina-nivo-islider188 {
    width: 100% !important; }
  .moduletable.slider2 {
    width: 100% !important;
    overflow: hidden; }
    .moduletable.slider2 img {
      width: 100% !important; }
  #page {
    width: 100%; }
  #top-menu {
    width: 100%;
    text-align: center; }
  #search {
    display: none; }
  .top {
    display: none; }
  #top-menu {
    display: none; }
  #header, #contacts {
    width: 100%;
    text-align: center;
    margin-top: 0; }
  #contacts {
    margin-top: 20px; }
  #bukkit {
    display: none; }
  .w100-10px, .logo-contacts-cart, #content, .jcommentsrev, .moduletable_news {
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
    margin: auto; }
  .logo-contacts-cart {
    text-align: center; }
  #content {
    float: none;
    overflow: hidden; }
  .jcommentsrev {
    float: none; }
  .all-rews:link {
    width: 50%;
    display: block;
    font-size: 15px; }
  .rews2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 12;
    overflow: hidden;
    margin-bottom: 20px; }
  .all-rews:link {
    position: static;
    float: left;
    display: block;
    width: 145px;
    height: 28px;
    line-height: 1.8;
    font-size: 12px;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .all-rews2:link {
    float: right; }
  .jcomments-latest.jcommentsrev {
    padding-bottom: 40px; }
  .items.items-col-4 {
    text-align: center; }
    .items.items-col-4 .column {
      width: 40%;
      margin: 0 4%;
      margin-bottom: 20px; }
  .moduletablebrands-mod .category-wrapper {
    width: 25%;
    margin: 0 4%;
    margin-bottom: 20px;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .jbzoo .subcategories .column.last, .jbzoo .related-items .column.last, .jbzoo .module-items .column.last, .jbzoo .items .column.last {
    margin-right: auto; }
  .moduletablebrands-mod .category-wrapper {
    margin-bottom: 3px; }
  .moduletable_news {
    float: none; }
  .moduletablebrands-mod .jbzoo-category-module {
    margin-right: 0;
    margin: auto; } }

@media only screen and (max-width: 680px) {
  .moduletable-top-sorting .element.pages, .moduletable-top-sorting .element.ordering {
    width: 35%;
    margin-left: 0;
    margin-right: 0; }
  .moduletable-top-sorting .element.ordering {
    width: 65%; } }

@media only screen and (max-width: 640px) {
  .jbzootabs .jbzootabs-nav li a {
    font-size: 15px; }
  .rborder.item.column.width25 {
    width: 40%;
    margin: 0 4% 20px; }
  #jivo-iframe-container {
    right: 0 !important; } }

@media only screen and (max-width: 620px) {
  /**/ }

@media only screen and (max-width: 570px) {
  .descr td {
    padding-right: 5px;
    padding-left: 5px; }
  .moduletable-top-sorting .element.pages, .moduletable-top-sorting .element.ordering {
    width: 100%; }
  .jbzoofilter_row.element.ordering .field {
    float: left; }
  .checkbox-lbl {
    display: none !important; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .jbzoo-main-block {
    padding-right: 15px; }
  .item-body .tooltip-4 {
    left: -214px; }
  .rborder.item.column.width25 {
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
    float: none; }
  .subcategory .subcategory-title a {
    font-size: 10px; }
  #content {
    padding-top: 20px; }
  #slider {
    display: none; }
  .items.items-col-4 .column {
    width: 300px;
    margin: auto;
    float: none;
    margin-bottom: 20px; }
  .moduletablebrands-mod .category-wrapper {
    width: 44%;
    margin-right: 3%;
    margin-left: 3%; }
  #footer {
    padding-bottom: 33px; }
  #fr2 {
    width: 100%;
    display: none; }
  #fr3 {
    width: 100%;
    text-align: center; }
  #fr1 {
    padding-left: 0; } }

@media only screen and (max-width: 450px) {
  .jbzoo .right-item-body .jbprice-buttons {
    margin-right: 0;
    width: 100%;
    float: none;
    text-align: right; }
    .jbzoo .right-item-body .jbprice-buttons a.jsAddToCart.jsAddToCartItem {
      float: right; }
  .jbzoo-item a.jsAddToCart.jsAddToCartItem {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 54px; }
  .jbprice-price, .jbprice-count {
    width: 50% !important;
    float: left;
    margin-right: 0 !important;
    margin-left: 0 !important;
    text-align: center; }
  .jbzoo label[for] {
    margin: auto !important;
    overflow: hidden;
    width: 112px; }
  .jbzoo .right-item-body .jbprice-count {
    margin-left: 0 !important; }
  .jbzoo .right-item-body .jbprice-buttons a.jsAddToCart.jsAddToCartItem {
    display: block;
    margin: auto !important;
    float: none;
    margin-top: 20px !important; }
  .right-item-body .item-price-position {
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .moduletable-top-sorting .jbzoo-filter .field {
    float: right; }
  .moduletable-top-sorting .static-fields .label {
    text-align: left; }
  .jbzoofilter_row.element.ordering .field {
    float: right; } }

@media only screen and (max-width: 430px) {
  .jbzoo-rborder .rborder {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0; }
  .jbzootabs-header {
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  table.item-full-main-table {
    display: block;
    width: 100%; }
    table.item-full-main-table tbody {
      display: block;
      width: 100%; }
      table.item-full-main-table tbody tr {
        display: block;
        width: 100%; }
        table.item-full-main-table tbody tr td {
          display: block;
          width: 100%; }
  .jbzoo-rborder .rborder {
    width: 100% !important;
    -webkit-box-sizing: border-box !important;
            box-sizing: border-box !important; }
  .jbzootabs .jbzootabs-nav li a {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .jbzootabs .jbzootabs-nav li {
    width: 100%; }
  .item-options-list {
    width: 100%;
    float: none;
    margin-right: 0;
    margin-left: 0; }
  #buy-one-click-link-apart {
    width: 100%;
    float: none;
    margin-right: 0;
    margin-left: 0;
    margin-top: 15px; }
  .item-body .free-delivery {
    width: 100%;
    float: none;
    margin-right: 0;
    margin-left: 0; }
  .jbzoo-item #links_divs .button span {
    display: none; }
  .jbzoo-item #links_divs .button td {
    width: 100%;
    text-align: center; } }

@media only screen and (max-width: 360px) {
  .jbzoo-item .item-collection-short {
    height: 140px; }
  .jbzoo-item .related-short-item {
    margin-bottom: 30px; }
  .item-body .tooltip-2 {
    left: -78px; }
  .item-body .tooltip-3 {
    left: -153px; }
  .moduletablebrands-mod .category-wrapper {
    width: 94%; }
  .jbzoo .jbzoo-item-teaser .item-title a, .element-relateditems .item .item-title a, .jbzoo .jbzoo-item-teaser .item-manufacturer, .element-relateditems .item .item-manufacturer {
    text-align: center; }
  .six_news.default .six_news_article .images {
    float: none;
    text-align: center; }
    .six_news.default .six_news_article .images img {
      width: 70%; }
  ul.jcomments-latest .author, ul.jcomments-latest .date, #comments .comment-author, #comments .comment-date {
    font-size: 13px !important; } }

@media only screen and (max-width: 320px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .main-mnu {
    display: block !important; }
  a {
    outline: none !important; } }
