/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1280px) 							
	.jbzoo-item-product.jbzoo-item-teaser .item-image img, .element-relateditems .item .item-image img
		width: 100% $i

	.jbzoo .jbcompare-table, .jbzoo .jbbasket-table
		font-size: 14px
		a
			font-size: 14px
		td
		 padding: 5px
		 	
	.jbimage-link
		img
			max-width: none !important
		

	.item-body .tooltip
		width: 300px
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
		
	.item-body .tooltip-3
		left: -179px
	
	.item-body .tooltip-2
		left: -100px
		
	.item-body .tooltip-4
		left: -228px
			
	.jbzoo-item		
		#links_divs .button
			width: 24%			
			box-sizing: border-box
			span
				font-size: 12px
		
		.item-collection-short
			height: 123px
		.related-short-item
			margin-bottom: 12px
			margin-right: 10px
			
		.jbprice-count
			margin-top: 22px !important

		.item-body .jbprice-price
			width: 105px
			margin-top: 11px !important
		
	
		a.jsAddToCart.jsAddToCartItem
			width: 110px
			font-size: 15px !important
			height: 45px
			margin-right: 10px 

		.left-full-product
			width: 37%
			margin-right: 3%
			overflow: hidden
			img
				width: 100%
				height: auto				
		
	.item-image.align-left
		margin: 0 !important
		font-size: 0 !important
		
	.jbimage-link.jbimage-gallery
		font-size: 0 !important	

	.right-item-body
		width: 60% !important
		box-sizing: border-box

	.jbzoo .item-body .jbprice-advance .sale-icon-empty, .jbzoo .item-body .jbprice-advance .hit-icon-simple
		left: 20px

	.jbzoo .item-body .left-full-product .item-image
		width: 100%
		height: auto

	#breadcrumbs
		width: 100%

	#yoo-zoo .column.rborder.width25		
		height: 407px !important 

	.scrollTop
		text-decoration: none
		display: block		
		text-align: center
		bottom: 55px
		right: 5px				
		font-size: 0
		line-height: 2
		font-family: ProximaNova
		color: #FFF
		background: url("/plugins/system/smoothtop/images/xup-arrow.gif.pagespeed.ic.EnO4IP_KW2.png") no-repeat center top
		height: 45px !important 
		width: 45px !important 
		opacity: 0.5
  
	#smoothtop
		display: none !important 

	.tel .black
		color: #000 !important 

	#page
		width: 993px
		overflow: hidden
	
	#top-menu	
		width: 600px		
		box-sizing: border-box
		padding-top: 0
		float: left
		position: static

	#search
		width: 393px	
		box-sizing: border-box
		padding-top: 0
		float: left
		position: static
		margin-left: 0
		form
			width: 100%
			box-sizing: border-box
			width: 372px
			position: relative
			input[type=text]
				width: 138px				
			input[type=submit]
				position: absolute
				right: 0							

	.top
		background-color: #212121 
		padding-top: 10px				

	.logo-contacts-cart
		padding-top: 10px
		padding-bottom: 10px
	
	#header
		margin-top: 0		
		box-sizing: border-box

	#contacts				
		padding: 0
		margin-top: 0
		box-sizing: border-box
		width: 417px
		
	#bukkit		
		margin-top: 0
		box-sizing: border-box
		
	#menu
		width: 100%
		> ul
			display: block
			text-align: center
	ul.menu_up > li
		display: inline-block
		float: none

	ul.menu_up li a	
		font-size: 12px
		padding-top: 15px		
		height: 19px	

	.main-content-wr
		width: 703px		

	#slider
		height: 237px
		margin-bottom: 0
		width: 100%
	.nivoSlider
		> img
			max-width: 100% 

	.price-table  	
		
		td			
			display: block
			width: 100%
			text-align: center
			> div
				width: 100%
				text-align: center
	
	.jbprice-price
		width: 100%
		text-align: center
		table
			width: 100%

	.jsTotal.total
		width: 100%
		text-align: center

	.jbzoo-item
		.jbprice-buttons
			text-align: center
			margin-top: 0

	.moduletablebrands-mod .jbzoo-category-module
		width: 100%
		img
			max-width: 100% 

	#footer
		width: 100%
		position: relative

	#fr4		
		position: absolute
		left: 25px
		bottom: 0px
		padding-right: 0
		
	#homepage > iframe
		display: none

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) 
	.main-mnu
		display: none
		float: right
		min-width: 250px
		text-align: right
		background-color: #1C242C 
		width: 250px
		position: absolute
		top: 44px
		right: 0
		height: auto
		z-index: 10
		margin-top: 0
		> ul 
			display: inline
		> li 
			display: block
			float: none
			margin: 0
		> a 
			display: block 
			color: #FFF 
			border-radius: 0
			border: none
			padding: 10px
			text-align: right
			&:hover 
				text-decoration: underline
					
		a:hover, li.active a 
			border: none	

	#page
		width: 769px

	#search, #top-menu
		width: 50%
	
	#header
		width: 200px
		padding-right: 0
		margin-top: 25px
		img
			max-width: 100% 		

	#contacts
		width: 347px
	
	.hidden-lg
		display: block
	
	#menu
		position: relative
	
	ul.menu_up li
		display: inline
		height: auto
		overflow: hidden
		
	ul.menu_up
		z-index: 100
		position: static

	.menu_up li.parent ul
		float: none	

	.menu_up li.parent ul li
		width: 100%
		float: none
		
	.menu_up li.parent > ul
		width: 100%
		display: block
		overflow: hidden
		
	.menu_up li.parent:hover ul, .menu_up li.parent:hover ul li
		width: 100%
	
	li.item-275.deeper.parent
		width: 100%

	.menu_up li.deeper.parent > a
		display: none

	.main-content-wr
		width: 100%
	
	#left-menu
		display: none		
	
	#fr1
		width: 100%
		text-align: center
	
	#fr2
		width: 66%		
		box-sizing: border-box
		padding-top: 0
		padding-left: 25px
	
	#fr3
		width: 33%		
		box-sizing: border-box
		padding-top: 0

	.moduletable_catalogFr1 > div
		display: none

	#fr4
		display: none
	
	#bukkit
		margin-right: 0
		padding-left: 77px

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) 		
	.jsTotalCount
		display: none

	.jbzoo .jbbasket-submission .form-field-row .field-label, .jbzoo .jbbasket-submission .form-field-row .field-input	
		width: 100%
		float: none	
		label[for]
			width: 100%

	.jbzootabs-accordion .jbzootabs-accordion-content
		padding-right: 10px
		padding-left: 10px

	.jbbasket-submission
		label
			font-size: 15px

	.jbzoo textarea
		max-width: 100% !important
		width: 250px		

	.jbbutton.jsDeleteAll
			display: none
		
	.jbbutton.jsDelete
			display: none

	.jbzoo .jbbasket-table
		thead
			display: none			
		tr		
			td:nth-child(2)
				display: none
			td:nth-child(3)
				display: none

	.jbzoo-item
		.left-full-product
			width: 100%  !important
			margin-bottom: 10px

		.right-item-body
			width: 100%  !important

	#breadcrumbs		
		.breadcrumb
			width: calc(100% - 20px)  !important
			overflow: hidden

	#vina-nivo-islider188
		width: 100% !important

	.moduletable.slider2		
		width: 100% !important
		overflow: hidden
		img
			width: 100% !important

	#page
		width: 100%			
	
	#top-menu
		width: 100%
		text-align: center
	
	#search
		display: none
	
	.top
		display: none

	#top-menu		
		display: none
	
	#header, #contacts
		width: 100%
		text-align: center
		margin-top: 0
		
	#contacts
		margin-top: 20px
		
	#bukkit		
		display: none
	
	.w100-10px
		width: calc(100% - 10px)
		margin: auto

	.logo-contacts-cart
		text-align: center		
		@extend .w100-10px
	
	#content
		@extend .w100-10px
		float: none
		overflow: hidden		
	
	.jcommentsrev
		@extend .w100-10px
		float: none
		
	.all-rews:link
		width: 50%
		display: block
		font-size: 15px
	
	.rews2
		position: absolute
		bottom: 0
		width: 100%		
		box-sizing: border-box
		z-index: 12
		overflow: hidden
		margin-bottom: 20px
	
	.all-rews:link
		position: static
		float: left
		display: block
		width: 145px
		height: 28px
		line-height: 1.8
		font-size: 12px
		text-align: center
		box-sizing: border-box
	
	.all-rews2:link
		float: right
	
	.jcomments-latest.jcommentsrev
		padding-bottom: 40px
	
	.items.items-col-4
		text-align: center
		.column
			width: 40%		
			margin: 0 4%
			margin-bottom: 20px
			
	.moduletablebrands-mod .category-wrapper
		width: 25%		
		margin: 0 4%
		margin-bottom: 20px
		padding: 0		
		box-sizing: border-box
	
	.jbzoo .subcategories .column.last, .jbzoo .related-items .column.last, .jbzoo .module-items .column.last, .jbzoo .items .column.last
		margin-right: auto	
		
	.moduletablebrands-mod .category-wrapper
		margin-bottom: 3px
		
	.moduletable_news
		@extend .w100-10px
		float: none
		
	.moduletablebrands-mod .jbzoo-category-module
		margin-right: 0
		margin: auto

@media only screen and (max-width : 680px) 
	.moduletable-top-sorting .element.pages, .moduletable-top-sorting .element.ordering
		width: 35%
		margin-left: 0
		margin-right: 0
	.moduletable-top-sorting .element.ordering
		width: 65%
		
@media only screen and (max-width : 640px) 
	.jbzootabs .jbzootabs-nav li a
		font-size: 15px

	.rborder.item.column.width25
		width: 40%
		margin: 0 4% 20px

	#jivo-iframe-container
		right: 0 !important
		
@media only screen and (max-width : 620px) 
	/**/
	
@media only screen and (max-width : 570px) 	

	.descr td
		padding-right: 5px
		padding-left: 5px

	.moduletable-top-sorting .element.pages, .moduletable-top-sorting .element.ordering
		width: 100%
		
	.jbzoofilter_row.element.ordering
		.field
			float: left
			
	.checkbox-lbl
		display: none !important
	
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) 
	.jbzoo-main-block
		padding-right: 15px
		
	.item-body .tooltip-4
		left: -214px

	.rborder.item.column.width25
		width: 300px
		margin: auto
		margin-bottom: 20px
		float: none

	.subcategory .subcategory-title a
		font-size: 10px

	#content
		padding-top: 20px

	#slider	
		display: none
	.items.items-col-4
		.column
			width: 300px
			margin: auto
			float: none
			margin-bottom: 20px
			
	.moduletablebrands-mod .category-wrapper
		width: 44%
		margin-right: 3% 
		margin-left: 3% 
	
	#footer
		padding-bottom: 33px

	#fr2
		width: 100%
		display: none	
	
	#fr3
		width: 100%
		text-align: center
		
	#fr1
		padding-left: 0
		
@media only screen and (max-width : 450px)
	.jbzoo .right-item-body .jbprice-buttons
		margin-right: 0
		width: 100%
		float: none
		text-align: right
		a.jsAddToCart.jsAddToCartItem
			float: right
	.jbzoo-item a.jsAddToCart.jsAddToCartItem
		width: 100%		
		box-sizing: border-box
		height: 54px

	.jbprice-price, .jbprice-count
		width: 50% !important		
		float: left
		margin-right: 0 !important		
		margin-left: 0 !important		
		text-align: center		
		
	.jbzoo label[for]
		margin: auto !important
		overflow: hidden
		width: 112px
		
	.jbzoo .right-item-body .jbprice-count
		margin-left: 0 !important
	
	.jbzoo .right-item-body .jbprice-buttons a.jsAddToCart.jsAddToCartItem
		display: block
		margin: auto !important
		float: none
		margin-top: 20px !important
		
	.right-item-body .item-price-position
		padding: 10px		
		box-sizing: border-box

@media only screen and (max-width : 430px)
	.jbzoo-rborder .rborder		
		box-sizing: border-box
		padding: 0

	.jbzootabs-header
		width: 100%
		padding: 0
		margin: 0		
		box-sizing: border-box
		
	table.item-full-main-table
		display: block
		width: 100%
		tbody
			display: block
			width: 100%
			tr
				display: block
				width: 100%
				td
					display: block
					width: 100%
		

	.jbzoo-rborder .rborder
		width: 100% !important		
		box-sizing: border-box !important		

	.jbzootabs .jbzootabs-nav li a
		width: 100%		
		box-sizing: border-box

	.jbzootabs .jbzootabs-nav li
		width: 100%

	.item-options-list
		width: 100%
		float: none
		margin-right: 0
		margin-left: 0
	
	#buy-one-click-link-apart
		width: 100%
		float: none
		margin-right: 0
		margin-left: 0
		margin-top: 15px
	
	.item-body .free-delivery
		width: 100%
		float: none
		margin-right: 0
		margin-left: 0

	.jbzoo-item #links_divs .button span		
		display: none
	#links_divs .button img
		

	.jbzoo-item #links_divs .button
		td
			width: 100%
			text-align: center
		
@media only screen and (max-width : 360px) 	
	.jbzoo-item .item-collection-short
		height: 140px

	.jbzoo-item .related-short-item
		margin-bottom: 30px

	.item-body .tooltip-2
		left: -78px
	
	.item-body .tooltip-3
		left: -153px
	

	.moduletablebrands-mod .category-wrapper
		width: 94%

	.jbzoo .jbzoo-item-teaser .item-title a, .element-relateditems .item .item-title a, .jbzoo .jbzoo-item-teaser .item-manufacturer, .element-relateditems .item .item-manufacturer
		text-align: center

	.six_news.default .six_news_article .images
		float: none
		text-align: center
		img
			width: 70%
			
	ul.jcomments-latest .author, ul.jcomments-latest .date, #comments .comment-author, #comments .comment-date
		font-size: 13px !important
		
@media only screen and (max-width : 320px) 
	/**/	


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	.main-mnu 
		display: block !important
	a 
		outline: none !important	